<app-layer-main-card 
    [layerName]="layerMainData.layerName"
    [layerText]="layerMainData.layerText"
    [layerImgName]="layerMainData.layerImgName"
    [imgWidth]="layerMainData.imgWidth"
    [imgHeight]="layerMainData.imgHeight"
></app-layer-main-card> <!-- 03/10/2020 -->

<app-separator separatorSymbol="◆◇◆◇◆◇" separatorColor="#0BCDD2"></app-separator>

<app-text-card
    [cardText]="layerBodyData[0].cardText"
    [footer]="layerBodyData[0].footer"   
></app-text-card>

<app-img-text-card
    [layerName]="layerMainData.layerName"
    [cardText]="layerBodyData[1].cardText"
    [imgName]="layerBodyData[1].imageName"
    [footer]="layerBodyData[1].footer"
></app-img-text-card>

<br class="d-none d-sm-none d-md-none d-lg-block">

<app-img-text-card
    [layerName]="layerMainData.layerName"
    [cardText]="layerBodyData[2].cardText"
    [imgName]="layerBodyData[2].imageName"
    [footer]="layerBodyData[2].footer"
></app-img-text-card>

<app-text-card
    [cardText]="layerBodyData[3].cardText"
    [footer]="layerBodyData[3].footer"   
></app-text-card>

<app-img-card
    [layerName]="layerMainData.layerName"
    [imgName]="layerBodyData[4].imageName"
    [footer]="layerBodyData[4].footer"
></app-img-card>

<br class="d-none d-sm-none d-md-none d-lg-block">

<app-img-text-card
    [layerName]="layerMainData.layerName"
    [cardText]="layerBodyData[5].cardText"
    [imgName]="layerBodyData[5].imageName"
    [footer]="layerBodyData[5].footer"
></app-img-text-card>

<br class="d-none d-sm-none d-md-none d-lg-block">

<app-img-text-card
    [layerName]="layerMainData.layerName"
    [cardText]="layerBodyData[13].cardText"
    [imgName]="layerBodyData[13].imageName"
    [footer]="layerBodyData[13].footer"
></app-img-text-card>

<br class="d-none d-sm-none d-md-none d-lg-block">

<app-img-card
    [layerName]="layerMainData.layerName"
    [imgName]="layerBodyData[14].imageName"
    [footer]="layerBodyData[14].footer"
></app-img-card>

<br class="d-none d-sm-none d-md-none d-lg-block">

<app-img-text-card
    [layerName]="layerMainData.layerName"
    [cardText]="layerBodyData[6].cardText"
    [imgName]="layerBodyData[6].imageName"
    [footer]="layerBodyData[6].footer"
></app-img-text-card>

<app-text-card
    [cardText]="layerBodyData[7].cardText"
    [footer]="layerBodyData[7].footer"   
></app-text-card>

<app-img-text-card
    [layerName]="layerMainData.layerName"
    [cardText]="layerBodyData[8].cardText"
    [imgName]="layerBodyData[8].imageName"
    [footer]="layerBodyData[8].footer"
></app-img-text-card>

<br class="d-none d-sm-none d-md-none d-lg-block">

<app-img-text-card
    [layerName]="layerMainData.layerName"
    [cardText]="layerBodyData[9].cardText"
    [imgName]="layerBodyData[9].imageName"
    [footer]="layerBodyData[9].footer"
></app-img-text-card>

<br class="d-none d-sm-none d-md-none d-lg-block">

<app-img-text-card
    [layerName]="layerMainData.layerName"
    [cardText]="layerBodyData[10].cardText"
    [imgName]="layerBodyData[10].imageName"
    [footer]="layerBodyData[10].footer"
></app-img-text-card>

<br class="d-none d-sm-none d-md-none d-lg-block">

<app-img-card
    [layerName]="layerMainData.layerName"
    [imgName]="layerBodyData[15].imageName"
    [footer]="layerBodyData[15].footer"
></app-img-card>

<app-text-card
    [cardText]="layerBodyData[11].cardText"
    [footer]="layerBodyData[11].footer"   
></app-text-card>

<app-img-text-card
    [layerName]="layerMainData.layerName"
    [cardText]="layerBodyData[12].cardText"
    [imgName]="layerBodyData[12].imageName"
    [footer]="layerBodyData[12].footer"
></app-img-text-card>

<br class="d-none d-sm-none d-md-block d-lg-block">

<app-special-card
[cardId]="16"
[layerName]="layerMainData.layerName"
[cardText]="layerBodyData[16].cardText"
[imgName]="layerBodyData[16].imageName"
[footer]="layerBodyData[16].footer"
[hasGlitchEffect]="true"
(imageClick)="handleSwapImageOnClickEvent($event)"
[isBorderChromatic]="true"
[color1]="'rgba(0, 255, 255, 0.5)'"
[color2]="'rgba(10, 16, 80, 0.6)'"
[color3]="'rgba(100, 192, 203, 0.8)'"
></app-special-card>

<br class="d-none d-sm-none d-md-block d-lg-block">