<div class="d-none d-sm-none d-md-none d-lg-block mt-4"></div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/120415797_143700220792341_9062665504566549274_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeE1xKQPU9enXV1r_No81PLI4WB5hKlZ3YDhYHmEqVndgJNR1fo_DTi7eh37QZ89kTF3CUyHaCen3P-zNsKv0YKo&_nc_ohc=eeFt4SquHbQAX8dM4HC&_nc_ht=scontent.fsap8-1.fna&oh=00_AfDXbk4_GPKJxoIsHKsvAxoZ-oEJF2PC6SKn-LWOoMA70A&oe=6487FC3B"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <h3 class="card-title">Wadom</h3>
                <p class="card-text">
                    Los datos son más importantes de lo que crees. Muchos luchan por protegerlos, otros los intentan
                    robar e incluso otros los compran. Recuerda que de los datos puedes extraer información, y la
                    información te servirá para obtener un conocimiento.
                </p>
            </div>
        </div>
    </div>
</div> <!-- 03/10/2020 -->

<div class="d-block d-sm-block d-md-block d-lg-none mb-4">
    <div class="separator">
        <span class="symbol">◆◇◆◇◆◇</span>
        <span class="dash"></span>
        <span class="symbol">◆◇◆◇◆◇</span>
    </div>
</div>

<div class="d-none d-sm-none d-md-none d-lg-block separator-container">
    <div class="separator">
        <span class="symbol">◆◇◆◇◆◇◆◇◆◇◆◇</span>
        <span class="dash"></span>
        <span class="symbol">◆◇◆◇◆◇◆◇◆◇◆◇</span>
    </div>
</div>

<div class="card mx-auto mt-3">
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>
                La desigualdad económica no es nada al comparar la división entre los que tienen acceso a la información
                y los que no la tienen, pues la información tiene un valor incalculable.
                ¡La información debe ser libre!
            </p>
            <footer class="blockquote-footer">25/11/2020</footer>
        </blockquote>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/153355035_243259564169739_7413025379998574400_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeHU7UQFhGnh41kr5oamOgwSB5Njk0jTvVcHk2OTSNO9V4Kq2ptZEXZsoWm0gzCgnGsJXhlCo2gLnrqHhpzI9EVc&_nc_ohc=LhTDoz2N34QAX_TcFVD&_nc_ht=scontent.fsap8-1.fna&oh=00_AfCg0QGvRZj8yrXjJnqqs0LUlncv_pEpHehH9u30z63mLA&oe=6489578B"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    La tecnología de la información tiene un fuerte impacto en las formas en que debemos pensar sobre la
                    ética, en especial cuando hablamos de privacidad, libertad y seguridad.
                </p>
                <footer class="blockquote-footer">24/02/2021</footer>
            </div>
        </div>
    </div>
</div>
<br>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://i.pinimg.com/originals/de/38/70/de3870f36da9f77ca6e9d999b1157665.webp"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    La globalidad del Internet hace posible que los cibercriminales operen y hagan daño en cualquier
                    parte del mundo.
                </p>
                <footer class="blockquote-footer">25/03/2021</footer>
            </div>
        </div>
    </div>
</div>


<div class="card mx-auto mt-3">
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>
                Una de las grandes vulnerabilidades en la seguridad informática son los usuarios. Por ejemplo, la
                ingeniería social. Aunque a veces es muy difícil notar el uso de ingeniería social, podrán evitar caer
                si avanzan con cautela. No tengan miedo si alguien dice tener acceso a cierta información suya, muchas
                veces a penas tienen acceso a unos cuantos caracteres.
            </p>
            <footer class="blockquote-footer">17/03/2021</footer>
        </blockquote>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/182922408_295629435599418_160645963034383787_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeEzw9nOBj9qiqizW4cp9xMt6T9NCJ40ElnpP00InjQSWRYXmrdUvfzzNt9yEhFkpGQczAjNWYsP3sYhoOaimqEV&_nc_ohc=daf22idPyugAX9vGEEG&_nc_ht=scontent.fsap8-1.fna&oh=00_AfBOjM_iT0INAqBHszqpTlAl_dLU_W_k4GhPPnGj4lVhgA&oe=6489775C"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <footer class="blockquote-footer">06/05/2021</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t39.30808-6/335157908_760993075334255_7369401817445052446_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeF_Np4ZNzBOGWYqxkK8doLn1Tp7cOad7_HVOntw5p3v8QQ84_p9aL2daHyAaFuYxHgig1u0L4zvDlnh6WKEjgj7&_nc_ohc=aMttiDMpf0EAX_mUYMH&_nc_ht=scontent.fsap8-1.fna&oh=00_AfAkyM_bLHBUzPpRkumvgGRsuV9YSfRBR8IIA_PgHR4ymg&oe=64679AC7"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    La neutralidad de la red es esencial para garantizar que la información fluya libremente y sin
                    restricciones.
                    Los proveedores de servicios de internet (ISP) no deben tener el poder de decidir qué contenido es
                    aceptable y qué contenido no lo es.
                    Si perdemos la neutralidad de la red, perderemos la libertad de internet ¡todo el tráfico de
                    Internet debe ser tratado igualitariamente!, no apoyéis a las empresas que atentan contra la
                    libertad.
                </p>
                <footer class="blockquote-footer">14/03/2023</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/205677076_333499691812392_2479390437135652631_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeEDPAb_XbDlxfDUgD0X3fzq8Av4wgoZwn7wC_jCChnCfuh_gJc9VdU-Kja5rkXra23Meb-McFvGC2jaAbrB71zJ&_nc_ohc=CCewf5wjAaEAX_EiaR0&_nc_ht=scontent.fsap8-1.fna&oh=00_AfB62w09KJXWOur86SYqGT5CQeuYBUk27ixotVwlLp7m2w&oe=64896939"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    De las alas de la libertad en las redes sociales solo quedan las sombras.
                    La censura va más allá que un simple ban directo. Las redes neuronales y sus algoritmos no solo
                    sirven para mostrar "recomendados".
                </p>
                <footer class="blockquote-footer">31/03/2021</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto mt-3">
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>
                No dejes que el algoritmo destruya tu mente.
                Espero que la percepción de tu realidad no se vea afectada por el encapsulamiento o filtrado.
                Muchos tipos de falsedades y sesgos pueden producirse al dejar que este te alimente sin ser consciente
                de ello.
            </p>
            <footer class="blockquote-footer">23/11/2022</footer>
        </blockquote>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/168013241_270136501482045_1288515872408213268_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeEQ3jz68RFHq1rWdeDMhcIveEmzLxuPzbF4SbMvG4_NsfIwz_RGSzXws6rOIrtVVFnkzXuX7bK6ARF-yjo1rkfr&_nc_ohc=lDvuMLGPtWAAX_t8lOk&_nc_ht=scontent.fsap8-1.fna&oh=00_AfAsgIQmOESduuXRqabx4gcSOcFflkA16H9_32hYvT1j5w&oe=64895058"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    Mostrar solo cierta parte de la información u ocultar parte de ella para conveniencia es también una
                    forma de manipulación.
                </p>
                <footer class="blockquote-footer">31/03/2021</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/142252202_221643379664691_5183569739126154095_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeF2a_AiLkPgKNnDqH2bZEHwnvT2g_zoypOe9PaD_OjKk7N7Cjdx8r76-J5YP9MHagnjjCXtXjNcGnZuupsyRp9Z&_nc_ohc=CxoOUlHSyX8AX86nh-B&_nc_oc=AQlbM7jARL1Fb_E4xQyxK8XLOrwdCWthVcbNrXafECypqb39QXQsrxhUd9ivQ-cD12s&_nc_ht=scontent.fsap8-1.fna&oh=00_AfCKCHGdWaftvkMYCkI4sfq-uV25LAS5OC8pdQ0tfWRjpA&oe=64896AC3"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    No confundas libertad de expresión e incitar al odio; es muy diferente expresar tu odio, a incitar
                    la violencia. Tampoco la confundas con desinformar, una cosa es manipular la información de manera
                    malintencionada y otra es dar una opinión abierta a debate.
                </p>
                <footer class="blockquote-footer">24/01/2021</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/158847866_253088266520202_7514327443579025640_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeH6gJbBq9OOy730KY6mZmMQxZTWFnrBmF3FlNYWesGYXUalJI3SdnTDcoT7f353ZAlhOvsr5mMjTax5TiXMkKps&_nc_ohc=C0A3wPhqSqYAX8qzl3n&_nc_ht=scontent.fsap8-1.fna&oh=00_AfAvXn8KY-6wdKdyioSbgnU8wuaLQ9WJIMH-9VUkIB5vZg&oe=64894487"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    Muchas veces las personas se esfuerzan por atacar agresivamente las ideas de los demás, pero no se
                    dan el tiempo de entenderlas adecuadamente.
                    Quizá muchos no llegarán a entenderse por el simple hecho de que no están tratando de hacerlo,
                    simplemente estan tratando de atacar.
                </p>
                <footer class="blockquote-footer">09/03/2021</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto mt-3">
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>
                Las mentiras no son una sorpresa, siempre las habrá.
                Lo sorprendente es la falta de respeto por la verdad o el desprecio hacia la misma, es decir, la
                posverdad, donde la verdad es ignorada, donde la verdad es obviada, donde los discursos emocionales
                valen más que los datos e investigaciones. La posverdad no es una mentira, es tener la verdad de frente
                y aún así obviarla.
            </p>
            <footer class="blockquote-footer">23/01/2022</footer>
        </blockquote>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t39.30808-6/321086415_5704633132923350_89272955853785684_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGbbWUiKWq0QTe92QPDvIuFjVnyUl_YtvuNWfJSX9i2--C7e8bX48d-IPIsrMlLp9FSDTcVFTyEUCL657S5515n&_nc_ohc=deE1FarqaAQAX9hHmor&_nc_ht=scontent.fsap8-1.fna&oh=00_AfDp3VbQntDTkC-GqXF13llXUeKyq6gdwbtB1E62W9DlNw&oe=6466D8A4"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    Si no tenemos acceso a la verdad, es muy fácil caer en la manipulación o en la propaganda, lo que
                    nos impide tomar decisiones que se basen en hechos y no en opiniones o intereses personales.
                    <br>
                    En un mundo cada vez más conectado y dependiente de la tecnología, la verdad es más valiosa que
                    nunca. Debemos tener cuidado con la información que encontramos, la manipulación del SEO, el
                    shadowban y/o censura pueden distorsionar esta de maneras peligrosas. Es nuestra responsabilidad ser
                    conscientes de esto ¡Ten cuidado con panoramas engañosos! Solo así podremos proteger nuestra
                    capacidad de acceder a la verdad.
                    <br>
                    <br>
                    <i>La verdad es poderosa porque es cierta. La verdad es justa porque es cierta</i>
                </p>
                <footer class="blockquote-footer">09/03/2021</footer>
            </div>
        </div>
    </div>
</div>