<div class="d-none d-sm-none d-md-none d-lg-block mt-4"></div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/wadom/main.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <h3 class="card-title">Wadom</h3>
                <p class="card-text">
                    Los datos son más importantes de lo que crees. Muchos luchan por protegerlos, otros los intentan
                    robar e incluso otros los compran. Recuerda que de los datos puedes extraer información, y la
                    información te servirá para obtener un conocimiento.
                </p>
            </div>
        </div>
    </div>
</div> <!-- 03/10/2020 -->

<br>

<div class="d-block d-sm-block d-md-block d-lg-none mb-4">
    <div class="separator">
        <span class="symbol">◆◇◆◇◆◇</span>
        <span class="dash"></span>
        <span class="symbol">◆◇◆◇◆◇</span>
    </div>
</div>

<div class="d-none d-sm-none d-md-none d-lg-block separator-container">
    <div class="separator">
        <span class="symbol">◆◇◆◇◆◇◆◇◆◇◆◇</span>
        <span class="dash"></span>
        <span class="symbol">◆◇◆◇◆◇◆◇◆◇◆◇</span>
    </div>
</div>

<div class="card mx-auto">
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>
                La desigualdad económica no es nada al comparar la división entre los que tienen acceso a la información
                y los que no la tienen, pues la información tiene un valor incalculable.
                ¡La información debe ser libre!
            </p>
            <footer class="blockquote-footer">25/11/2020</footer>
        </blockquote>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/wadom/0.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    La tecnología de la información tiene un fuerte impacto en las formas en que debemos pensar sobre la
                    ética, en especial cuando hablamos de privacidad, libertad y seguridad.
                </p>
                <footer class="blockquote-footer">24/02/2021</footer>
            </div>
        </div>
    </div>
</div>

<br class="d-none d-sm-none d-md-none d-lg-block">

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/wadom/1.webp" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    La globalidad del Internet hace posible que los cibercriminales operen y hagan daño en cualquier
                    parte del mundo.
                </p>
                <footer class="blockquote-footer">25/03/2021</footer>
            </div>
        </div>
    </div>
</div>


<div class="card mx-auto">
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>
                Una de las grandes vulnerabilidades en la seguridad informática son los usuarios. Por ejemplo, la
                ingeniería social. Aunque a veces es muy difícil notar el uso de ingeniería social, podras evitar caer
                si avanzas con cautela. No tengas miedo si alguien dice tener acceso a cierta información tuya, muchas
                veces a penas tiene acceso a unos cuantos caracteres.
            </p>
            <footer class="blockquote-footer">17/03/2021</footer>
        </blockquote>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/wadom/2.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <footer class="blockquote-footer">06/05/2021</footer>
            </div>
        </div>
    </div>
</div>

<br class="d-none d-sm-none d-md-none d-lg-block">

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/wadom/3.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    La neutralidad de la red es esencial para garantizar que la información fluya libremente y sin
                    restricciones.
                    Los proveedores de servicios de internet (ISP) no deben tener el poder de decidir qué contenido es
                    aceptable y qué contenido no lo es.
                    Si perdemos la neutralidad de la red, perderemos la libertad de internet ¡todo el tráfico de
                    Internet debe ser tratado igualitariamente!, no apoyen a las empresas que atentan contra la
                    libertad.
                </p>
                <footer class="blockquote-footer">14/03/2023</footer>
            </div>
        </div>
    </div>
</div>

<br class="d-none d-sm-none d-md-none d-lg-block">

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/wadom/4.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    De las alas de la libertad en las redes sociales solo quedan las sombras.
                    La censura va más allá que un simple ban directo. Las redes neuronales y sus algoritmos no solo
                    sirven para mostrar "recomendados".
                </p>
                <footer class="blockquote-footer">31/03/2021</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>
                No dejes que el algoritmo destruya tu mente.
                Espero que la percepción de tu realidad no se vea afectada por el encapsulamiento o filtrado.
                Muchos tipos de falsedades y sesgos pueden producirse al dejar que este te alimente sin ser consciente
                de ello.
            </p>
            <footer class="blockquote-footer">23/11/2022</footer>
        </blockquote>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/wadom/5.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    Mostrar solo cierta parte de la información u ocultar parte de ella para conveniencia es también una
                    forma de manipulación.
                </p>
                <footer class="blockquote-footer">31/03/2021</footer>
            </div>
        </div>
    </div>
</div>

<br class="d-none d-sm-none d-md-none d-lg-block">

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/wadom/6.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    No confundas libertad de expresión e incitar al odio; es muy diferente expresar tu odio, a incitar
                    la violencia. Tampoco la confundas con desinformar, una cosa es manipular la información de manera
                    malintencionada y otra es dar una opinión abierta a debate.
                </p>
                <footer class="blockquote-footer">24/01/2021</footer>
            </div>
        </div>
    </div>
</div>

<br class="d-none d-sm-none d-md-none d-lg-block">

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/wadom/7.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    Muchas veces las personas se esfuerzan por atacar agresivamente las ideas de los demás, pero no se
                    dan el tiempo de entenderlas adecuadamente.
                    Quizá muchos no llegarán a entenderse por el simple hecho de que no están tratando de hacerlo,
                    simplemente estan tratando de atacar.
                </p>
                <footer class="blockquote-footer">09/03/2021</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>
                Las mentiras no son una sorpresa, siempre las habrá.
                Lo sorprendente es la falta de respeto por la verdad o el desprecio hacia la misma, es decir, la
                posverdad, donde la verdad es ignorada, donde la verdad es obviada, donde los discursos emocionales
                valen más que los datos e investigaciones. La posverdad no es una mentira, es tener la verdad de frente
                y aún así obviarla.
            </p>
            <footer class="blockquote-footer">23/01/2022</footer>
        </blockquote>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/wadom/8.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    Si no tenemos acceso a la verdad, es muy fácil caer en la manipulación o en la propaganda, lo que
                    nos impide tomar decisiones que se basen en hechos y no en opiniones o intereses personales.
                    <br>
                    En un mundo cada vez más conectado y dependiente de la tecnología, la verdad es más valiosa que
                    nunca. Debemos tener cuidado con la información que encontramos, la manipulación del SEO, el
                    shadowban y/o censura pueden distorsionar esta de maneras peligrosas. Es nuestra responsabilidad ser
                    conscientes de esto ¡Ten cuidado con panoramas engañosos! Solo así podremos proteger nuestra
                    capacidad de acceder a la verdad.
                    <br>
                    <br>
                    <i>La verdad es poderosa porque es cierta. La verdad es justa porque es cierta</i>
                </p>
                <footer class="blockquote-footer">09/03/2021</footer>
            </div>
        </div>
    </div>
</div>