<div class="d-none d-sm-none d-md-none d-lg-block mt-4"></div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/119486622_133071031855260_8028855497408418766_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeGRNPdamgFUO1kNJhf-PdFCERiH1maKh_YRGIfWZoqH9n4ZRq7PQ6-huhz6G-Mk3nejpRg1itsIfjMziPkCGWqc&_nc_ohc=5l8WPiVUIzgAX_BiuM3&_nc_ht=scontent.fsap8-1.fna&oh=00_AfAITT5QpRDPkPV44SbiK-5wE0--mCTSgK5ytXuSK1dl2g&oe=64867092"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <h3 class="card-title">Essence</h3>
                <p class="card-text">
                    Detrás de las cosas que vemos parecen existir ideas gracias a las cuales entendemos ese caos de
                    materia cambiante que conforma los paisajes por los que nos movemos: cuando vemos un olivo sabemos
                    que eso es un árbol, y cuando vemos un pino, que es muy diferente, también sabemos que es un árbol.
                    <br>
                    Las ideas sirven para permitirnos pensar correctamente y no perdernos en la confusión constante, ya
                    que, si están bien fundamentadas, son válidas en todas partes.
                </p>
            </div>
        </div>
    </div>
</div> <!-- 17/09/2020 -->

<div class="card mx-auto mt-3">
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>Si perdieras los datos de tu memoria, ¿Seguirías siendo tú?</p>
            <footer class="blockquote-footer">08/09/2020</footer>
        </blockquote>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/119910711_135643111598052_5574346978440338345_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeFhMjtSEoehYhBQme1XCgCrECYF3Nu_o0UQJgXc27-jRTQqXnqnMElKNKMnogc_WdYUJ3slxSuE8rAmHpy6pz5_&_nc_ohc=OV2iQLhMzq0AX-fsWC3&_nc_ht=scontent.fsap8-1.fna&oh=00_AfBLZ1ZhBrVfCmL6x5J17iJsNCabf8hL8J2410TRnJkKEw&oe=6487B7C2"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    Creí poder ocultar mis actos, pero siempre alguien me observaba.
                </p>
                <footer class="blockquote-footer">18/09/2020</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto mt-3">
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>Tus distintas personalidades conforman una sola persona, ese eres tú. No solo eso, sino que tu "yo" del pasado, no piensa exactamente igual que tu "yo" del ahora, es decir, eres este momento y no otro.</p>
            <footer class="blockquote-footer">14/09/2020</footer>
        </blockquote>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/119950186_136586978170332_6231016039091611326_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeGLorotlXI1rvhs5eSHkGHz0yUe_h1BSbDTJR7-HUFJsDyeoez0HVI3Z0y6rlQ-hXl86i9ZLHAc-wVBG_IbUEHR&_nc_ohc=QUKRjOHDImoAX-eYSk9&_nc_ht=scontent.fsap8-1.fna&oh=00_AfDq7_28Iv5avHqWlMh7PQsFFFOO_Q-O8-sv0yRtLC5New&oe=6487F10B"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    Llegarán momentos en que debes confrontar tus antiguas ideas.
                </p>
                <footer class="blockquote-footer">20/09/2020</footer>
            </div>
        </div>
    </div>
</div>
