<div class="d-none d-sm-none d-md-none d-lg-block mt-4"></div>

<div class="card mx-auto" style="max-width: 58rem;">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/119486622_133071031855260_8028855497408418766_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeGRNPdamgFUO1kNJhf-PdFCERiH1maKh_YRGIfWZoqH9n4ZRq7PQ6-huhz6G-Mk3nejpRg1itsIfjMziPkCGWqc&_nc_ohc=5l8WPiVUIzgAX_BiuM3&_nc_ht=scontent.fsap8-1.fna&oh=00_AfAITT5QpRDPkPV44SbiK-5wE0--mCTSgK5ytXuSK1dl2g&oe=64867092"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <h5 class="card-title">Essence</h5>
                <p class="card-text">
                    Detrás de las cosas que vemos parecen existir ideas gracias a las cuales entendemos ese caos de
                    materia cambiante que conforma los paisajes por los que nos movemos: cuando vemos un olivo sabemos
                    que eso es un árbol, y cuando vemos un pino, que es muy diferente, también sabemos que es un árbol.
                    <br>
                    Las ideas sirven para permitirnos pensar correctamente y no perdernos en la confusión constante, ya
                    que, si están bien fundamentadas, son válidas en todas partes.
                </p>
            </div>
        </div>
    </div>
</div>