<div class="d-none d-sm-none d-md-none d-lg-block mt-4"></div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/119486622_133071031855260_8028855497408418766_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeGRNPdamgFUO1kNJhf-PdFCERiH1maKh_YRGIfWZoqH9n4ZRq7PQ6-huhz6G-Mk3nejpRg1itsIfjMziPkCGWqc&_nc_ohc=5l8WPiVUIzgAX_BiuM3&_nc_ht=scontent.fsap8-1.fna&oh=00_AfAITT5QpRDPkPV44SbiK-5wE0--mCTSgK5ytXuSK1dl2g&oe=64867092"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <h3 class="card-title">Essence</h3>
                <p class="card-text">
                    Detrás de las cosas que vemos parecen existir ideas gracias a las cuales entendemos ese caos de
                    materia cambiante que conforma los paisajes por los que nos movemos: cuando vemos un olivo sabemos
                    que eso es un árbol, y cuando vemos un pino, que es muy diferente, también sabemos que es un árbol.
                    <br>
                    Las ideas sirven para permitirnos pensar correctamente y no perdernos en la confusión constante, ya
                    que, si están bien fundamentadas, son válidas en todas partes.
                </p>
            </div>
        </div>
    </div>
</div> <!-- 17/09/2020 -->

<div class="card mx-auto mt-3">
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>Tus distintas personalidades conforman una sola persona, ese eres tú. No solo eso, sino que tu "yo" del
                pasado, no piensa exactamente igual que tu "yo" del ahora, es decir, eres este momento y no otro.</p>
            <footer class="blockquote-footer">14/09/2020</footer>
        </blockquote>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/119950186_136586978170332_6231016039091611326_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeGLorotlXI1rvhs5eSHkGHz0yUe_h1BSbDTJR7-HUFJsDyeoez0HVI3Z0y6rlQ-hXl86i9ZLHAc-wVBG_IbUEHR&_nc_ohc=QUKRjOHDImoAX-eYSk9&_nc_ht=scontent.fsap8-1.fna&oh=00_AfDq7_28Iv5avHqWlMh7PQsFFFOO_Q-O8-sv0yRtLC5New&oe=6487F10B"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    Llegarán momentos en que debes confrontar tus antiguas ideas.
                </p>
                <footer class="blockquote-footer">20/09/2020</footer>
            </div>
        </div>
    </div>
</div>

<br>

<div class="card mx-auto mt-3">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/120310872_142729010889462_8781726878425635201_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeHfrEO3-jtzqQooOdQffEsuJPrBmbzr2vsk-sGZvOva-9qZcrYGzHv5TP6PaCuG14KSL-3HDhR7YpMeFFo92Wwe&_nc_ohc=K7uTsMVIN00AX_IJ9B9&_nc_ht=scontent.fsap8-1.fna&oh=00_AfA_Lg2C9tSSu_eeSm4dO-cOHxqMvlOV0Cs7h-OJWa2WOg&oe=6487F80D"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    La realidad depende del observador, habrá tantas realidades como observadores. Sin embargo dichas
                    realidades estan percibidas por nuestros sentidos, los cuales no son de fiar del todo, por
                    lo tanto nuestra realidad no es lo real.
                    Tu realidad se crea gracias a tu percepción. Sí tú no percibes algo, no formara parte de tu
                    realidad; sin embargo no significa que no exista. Poco a poco iras desarrollando tu capacidad de
                    razonar, y cada vez, posiblemente, te acerques más a lo real.
                </p>
                <footer class="blockquote-footer">30/09/2020</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto mt-3">
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>
                ¿Cuántas partes de tu cuerpo necesitas cambiar para ya no ser tú?
                ¿Cuántas piesas de tu automóvil necesitas cambiar para ya no considerarlo el mismo?
                La esencia es lo que te hace, mientras mantengas eso, podrás cambiar muchas partes pero seguiras siendo
                tú.
            </p>
            <footer class="blockquote-footer">04/10/2020</footer>
        </blockquote>
    </div>
</div>

<div class="card mx-auto mt-3">
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>Si perdieras los datos de tu memoria, ¿Seguirías siendo tú?</p>
            <footer class="blockquote-footer">08/09/2020</footer>
        </blockquote>
    </div>
</div>

<div class="card mx-auto mt-3">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/162653689_260859809076381_2220859536314309804_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGIpAZ4PPQbvlvfdvwv8kzH1Pi3DGziALXU-LcMbOIAtemtDNmxnjo0Ki_BKZ1z31mGU6RgDhMVkvAQdqbUBuZo&_nc_ohc=0ue6IWeedmoAX-Io6cg&_nc_ht=scontent.fsap8-1.fna&oh=00_AfBSHvDnRmMZqJ4xDQGo1KkpHqOHTLHqeWZEbxcv0igT8g&oe=64896F4F"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    Quizá no tomes lo abstracto como algo real, cuando es más real que lo que ves con tus propios ojos.
                </p>
                <footer class="blockquote-footer">19/03/2021</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto mt-3">
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>
                Puedes decidir fácilmente la imagen que quieres proyectar, pero la interpretación de los observadores es
                difícil de manejar, y más aún cuando usas la misma proyección para todo un grupo y a la vez cada
                elemento del grupo influye a otros elementos del mismo.
            </p>
            <footer class="blockquote-footer">19/07/2021</footer>
        </blockquote>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t39.30808-6/269849778_463824948779865_1675117232284017994_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeF1n66oWONEFQLlPfkVwh7CMND_JPt86YEw0P8k-3zpgbG2aR4Wsk5r8ZWt9rE72FGhxWLVBlJ4Xiyqyn-UNmzv&_nc_ohc=XFhi3_xNIegAX9BRcwo&_nc_oc=AQmwp5kZecvlGj-WWOcu7ZaHiV07-WKXaITb5rR79BYTSxV8ntxAGmqQPbX4V-xBkK0&_nc_ht=scontent.fsap8-1.fna&oh=00_AfAfAliRHJr3T6NmdHeS9UKRT80Ql6Cksn_b-k3MsKGnLA&oe=64667859"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <footer class="blockquote-footer">23/12/2021</footer>
            </div>
        </div>
    </div>
</div>