<div class="d-none d-sm-none d-md-none d-lg-block mt-4"></div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/128622597_179051920590504_557820681913653113_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeFI7Krw6QCjU4VtY1uio53H-usKr355OPj66wqvfnk4-FLvPF5KiaGFdHf_TkNfGHJ2QVLLb9ClmmLnvrmcYiSN&_nc_ohc=TW293u8RijcAX-g_Rac&_nc_ht=scontent.fsap8-1.fna&oh=00_AfA-2-7c91fgO_bwSxd9vjw8DDzSffzxYI2aBZ3ynN5mSw&oe=64880F99"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <h3 class="card-title">Ether</h3>
                <p class="card-text">
                    Con el suficiente poder, incluso el corazón más puro puede caer. <br>
                    A más poder, más peligro de perder esa pureza que esta en tú corazón, si es que la hay. Ten cuidado.
                </p>
            </div>
        </div>
    </div>
</div> <!-- 30/11/2020 -->

<hr style="margin-left: 10%; margin-right: 10%;">

<div class="card mx-auto mt-3">
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>
                El bien y el mal van perdiendo sentido y quizá se van mezclando tus ideas a medida vas de una
                sociedad a otra. Pues al final dichas palabras dependen de la sociedad en que estés.
            </p>
            <footer class="blockquote-footer">05/10/2020</footer>
        </blockquote>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/175495308_284287090066986_7431642023022813720_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeFWA7PEDTl_ZlEj0ezmKWNTE5jhNyhT1X0TmOE3KFPVfa5h39azBwye7edQgdtF4k74erl7J_3Zd6F2E8vKmgv2&_nc_ohc=4kBF3SxlFGcAX9AoIHE&_nc_ht=scontent.fsap8-1.fna&oh=00_AfDZCExVmmr79dh5qZv-kXN6Wj1vKHf2ZgVtxrexEz3sEA&oe=64896F64"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <footer class="blockquote-footer">20/04/2021</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t39.30808-6/346055042_1252085762085003_2258331330627518929_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeEhh5DZKbAoa20xGKwUskE0gLzOP-hLrFqAvM4_6EusWm_Q57wvdfksVy8IKxRXsHVzZFNzUP2uSNMq4FeExxLq&_nc_ohc=hEyRwIkIF5MAX8i_gV-&_nc_ht=scontent.fsap8-1.fna&oh=00_AfD6s12zI9jHiq49MS_3Q9D-VrSHkgkps0WqDhINxE6Ocw&oe=646708F2"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <footer class="blockquote-footer">09/05/2023</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto mt-3">
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>
                La luz de la luna a culpables e inocentes ilumina por igual
            </p>
            <footer class="blockquote-footer">05/11/2020</footer> <!-- Warcraft -->
        </blockquote>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/199196479_320478176447877_8878850702803416323_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeF_dyU8b_bgcsv6NqcSnAE0sD9vJ7r7rfKwP28nuvut8k-bYA2baulEEc5gyKWiNsvqYdRsDGM8bQrBWECz-NLC&_nc_ohc=nyBKhW6YjAoAX-XqRRu&_nc_ht=scontent.fsap8-1.fna&oh=00_AfDDJfaOfkENr_Au0EcLncD2tgkBZHCu-O-mmtt1Id1yIQ&oe=64896EB5"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    [[=◈^◈=]] Goodbye To A World
                </p>
                <footer class="blockquote-footer">08/06/2021</footer>
            </div>
        </div>
    </div>
</div>