<app-layer-main-card 
    [layerName]="layerMainData.layerName"
    [layerText]="layerMainData.layerText"
    [layerImgName]="layerMainData.layerImgName"
></app-layer-main-card> <!-- 30/11/2020 -->

<app-separator separatorSymbol="❀✿❀✿❀✿" separatorColor="#666666"></app-separator>

<app-text-card
    [cardText]="layerBodyData[0].cardText"
    [footer]="layerBodyData[0].footer"   
></app-text-card>

<app-img-card
    [layerName]="layerMainData.layerName"
    [imgName]="layerBodyData[1].imageName"
    [footer]="layerBodyData[1].footer"
></app-img-card>

<br class="d-none d-sm-none d-md-none d-lg-block">

<app-img-card
    [layerName]="layerMainData.layerName"
    [imgName]="layerBodyData[2].imageName"
    [footer]="layerBodyData[2].footer"
></app-img-card>

<app-text-card
    [cardText]="layerBodyData[3].cardText"
    [footer]="layerBodyData[3].footer"   
></app-text-card>

<app-img-text-card
    [layerName]="layerMainData.layerName"
    [cardText]="layerBodyData[4].cardText"
    [imgName]="layerBodyData[4].imageName"
    [footer]="layerBodyData[4].footer"
></app-img-text-card>