.btn-ticket {
    color: #ffd900;
    border-color: #ffd900;
}

.btn-ticket:hover {
    background-color: #c49d1f;
    color: #ffffff;
}

.btn-ticket:active {
    background-color: #c49d1f;
    color: #ffffff;
    border-color: #c49d1f;
}

.btn-ticket:focus {
    background-color: #c49d1f;
    color: #ffffff;
    border-color: #c49d1f;
    box-shadow: none;
}

/* Temporal */
.tarjeta {
    max-width: 400px;
    margin: 0 auto; /* Para centrar la tarjeta */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
  }

  .tarjeta img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
}

/* #monitor{
    background-color: rgb(25, 0, 255);
    border: 50px;
    margin: auto;
    margin-top: 5%;
    padding: 1%;
    width: max-content;
    border-radius: 1%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-style: ridge;
    border-color: #ffffff;
}

#pantalla{
    color: #1eff00;
    text-align: center;
    padding: 0;
    margin: auto;
    font-size: 20px;
}

#btnEnviar{
    color: #ffffff;
    background-color: red;
    border-radius: 5px;
    border-color: red;
}

#contentWrap{
    display: none;
    margin: auto;
}

#nickError{
    color: red;
} */