<div class="d-none d-sm-none d-md-none d-lg-block mt-4"></div>

<div class="d-flex justify-content-center">
    <canvas #gameCanvas></canvas>
    <div class="d-block">
      <button class="btn btn-light mb-1" (click)="play('MOV_DERECHA')">Play</button>
      <br>
      <button class="btn btn-light mb-1" (click)="play('MOV_IZQUIERDA')">Stop</button>
      <br>
      <button class="btn btn-light mb-1">Next</button>
    </div>
</div>


<!-- <div id="nickWrap">
    <div id="monitor">
      <div id="pantalla">
        <div>
          <h3>Welcome! :&#41;</h3>
          <h3>User</h3>
        </div>
        <p id="nickError"></p>
        <div>
          <form id="nickForm">
            <label for="nickName">Name:</label>
            <input type="text" id="nickName" autocomplete="off" maxlength="10" minlength="1"/>
            <button id="btnEnviar" type="submit">Go!</button>
          </form>
        </div>
      </div>
    </div>
</div> -->
