<div class="d-none d-sm-none d-md-none d-lg-block mt-2"></div>
<h1 class="visually-hidden">Cyberia Cafe & Club</h1>
<section class="visually-hidden">
  <p>
    Welcome to Cyberia, we have cyberpunk ambiance. Enjoy your coffee!
  </p>
</section>
<div class="d-flex justify-content-center">
  @if (!this.canvasChecker && hasEnoughScreenSize) {
    <p class="d-block mt-4">LOADING...</p>
  }
</div>

@if (hasEnoughScreenSize) {
  <div class="d-flex justify-content-center" style="min-width: 100%; background-color: #110B34;">
    <canvas #gameCanvas></canvas>
  </div>  
} @else{
  <div class="d-flex justify-content-center">
    <h1 class="d-block mt-4">Welcome to Cyberia!</h1>
  </div>
}

<div class="responsive-buttons my-4">
  <button class="btn btn-danger" routerLink="/">Exit</button>
  <button class="btn btn-light" (click)="play('MOV_DERECHA')">Play</button>
  <button class="btn btn-light" (click)="play('MOV_IZQUIERDA')">Stop</button>
  <button class="btn btn-light" (click)="nextSong()">Next</button>
  <button class="btn btn-success" (click)="scrollToCyberiaGames()">Games</button>
</div>

<h2 class="text-center ds-bios" style="font-size: 3rem;"><span style="color: #F3186E;">CYBERIA </span><span style="color: #1EEDFD;">MINIGAMES</span></h2>

<app-cyberia-minigame #firstMinigame
  [imgName]="cyberiaProducts[0].imageName"
  [cardText]="cyberiaProducts[0].cardText"
  [cardTitle]="cyberiaProducts[0].cardTitle"
  [gameUrl]="cyberiaProducts[0].gameUrl"
></app-cyberia-minigame>