<div class="d-none d-sm-none d-md-none d-lg-block mt-4"></div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/120192228_141533717675658_9168767485135043495_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeG5S5wAar9vRoe3que7dUoehCVfWM4AbeeEJV9YzgBt5zcVQNYX4B4ZxBIrnSwp74P868PnlMxjIPQxEMwWbQgE&_nc_ohc=ojwo4q6LgxsAX_4L1ZH&_nc_ht=scontent.fsap8-1.fna&oh=00_AfDjZRwdkiKy0LmUm6zicvFhOnm-M91y3WNCQfXfRc_rsg&oe=6487FAFC"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <h3 class="card-title">Aurora</h3>
                <p class="card-text">
                    Let's color all the ways.
                </p>
            </div>
        </div>
    </div>
</div> <!-- 27/09/2020 -->

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/122794056_155744162921280_8526496639738698825_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeG0U8nnDRPbt4J8M4U7rnr12tsLmZrgkcva2wuZmuCRy-8ikM1t_xLYSdGLUVmzvb3AWLKXSXLEqLUkYgguDb2m&_nc_ohc=mm26OCb2UWoAX-LWXY8&_nc_oc=AQl8hUD5YsBcE9ybGQPbsPuhWoJLnlNXA81kPcNZQ9spz8mmiB2BD66N04BM0aUnXSU&_nc_ht=scontent.fsap8-1.fna&oh=00_AfAkswU_3d8XGQvdd-h3D8SjOaeUhz_V9Yzar9cGdfL92A&oe=6487F16F"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    Antes de ayudar a los demás, concentrate en ti mismo.
                </p>
                <footer class="blockquote-footer">25/10/2020</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/131018282_186937063135323_1111050069109533293_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeF0IrH588ng9At6dj03kZuarm56N5wzqNOubno3nDOo05lWBBKJ-3KKWEw0z506JkuqyCutPFiHKgN2CpdbMLF9&_nc_ohc=6k7hhPRhVjsAX_zbiBM&_nc_ht=scontent.fsap8-1.fna&oh=00_AfBktIMCMjjdzeKzYNlWmMW_vXmyiP1za0e-oi1CgIZkSg&oe=64881990"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    Un pequeño descanso puede aumentar tu productividad.
                </p>
                <footer class="blockquote-footer">09/12/2020</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t39.30808-6/324337197_1254525198432052_2601898424762818128_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeHtPNrgi1oLUWhDHMxnyN6mJ7dA4iePID4nt0DiJ48gPrd8cTKRyvnXBbwMz2bvUo6agRx7xAFw9190fSu7lj-s&_nc_ohc=ecC4fXRBF58AX_MZRTW&_nc_ht=scontent.fsap8-1.fna&oh=00_AfDUUcOEj7_VCV1inFTvn9UjKqdmofyujl_SvyPDCnOa0g&oe=646708A2"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    Todo saldrá bien, no te preocupes, no eres una máquina.
                </p>
                <footer class="blockquote-footer">11/01/2023</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/121190952_147972423698454_826012142002982379_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeH8JD6TV87RHv5EjgWUeDVpu-N5MQYTXfG743kxBhNd8V2ZImXn5A4rFkUWVqX-1aYL6ZpxtyQ4nC3T1Z1vykpC&_nc_ohc=SpiB8LrTcsIAX_2SM7T&_nc_ht=scontent.fsap8-1.fna&oh=00_AfCOhx3GTvN_zZ9YoeVcxIEsD8Wovaf6Ffqurjxi2b7xkg&oe=64880FB3"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <footer class="blockquote-footer">09/10/2020</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/161047796_257639466065082_8338041638985319077_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeFfENSLy-cdQnhqLx2sOYBnVt5SuwbCf8VW3lK7BsJ_xde_ZthfgCf2KgkY7p864py7oLvjpG9cPr52j7HYpVxy&_nc_ohc=GEWA3KcXfzcAX9EfwZJ&_nc_ht=scontent.fsap8-1.fna&oh=00_AfDlwMvkXYh572-ZYl0rse48C3HQ52EtCzXHi7TZzN_EKA&oe=64895FDF"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <footer class="blockquote-footer">15/03/2021</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/157789775_250194953476200_6770872614100891043_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeESj-k88G1KDDB-xVTU3A20ao4QuVIfTttqjhC5Uh9O25QSzg0C871QtndKJJ0xH2vphYfaVOXBYii_Rr1mSKOB&_nc_ohc=g6Umoc_HCE8AX9wWvle&_nc_ht=scontent.fsap8-1.fna&oh=00_AfCw7Maqb8GEqFFuH_leq9V4XeXtvylB60fHx4KAmRSbLg&oe=64896491"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    No te quedes en lo mismo, no esta mal refrescar tus ideas.
                </p>
                <footer class="blockquote-footer">05/03/2021</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t39.30808-6/269730279_461776912318002_3885359506412875369_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeFWM7GY6bIpyQ7612HrXkg0ugWLmbfdoRi6BYuZt92hGDobNIMpCBcnbhUuUu5_kJ72i8DXi4nQoHReRbRFGVr4&_nc_ohc=f_IOAgl4J0wAX9W7JEU&_nc_ht=scontent.fsap8-1.fna&oh=00_AfCvEONuIn-rj6mZBmxzya6q4BrJttOgG2iTQniVdcGyfQ&oe=646726F6"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <footer class="blockquote-footer">20/12/2021</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t39.30808-6/243127360_402977964864564_6613380390293729514_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeG30_rW20DeQurpN4B5AwGfgR1p2JYPuaCBHWnYlg-5oHuh7tYeN25css88urDQuk_mOBnyDdyEmiqfJly8nZTr&_nc_ohc=Xan3seF0rvIAX9okW5Q&_nc_ht=scontent.fsap8-1.fna&oh=00_AfCm1MQwYUCdbBHLSlvljHG2S86T06OJU7oXnUBcjV_s2w&oe=64673672"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <footer class="blockquote-footer">26/09/2021</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t39.30808-6/242317615_395630558932638_3523094301361295329_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeFM7Lm47AM-IVKKkfVFnssXo2m4bBVg4KujabhsFWDgq9CjuQnZzqzGPzHuIcohWplhmUWyqiHdVSs51CHeSzvg&_nc_ohc=bhduSzYOXx8AX9nLKak&_nc_ht=scontent.fsap8-1.fna&oh=00_AfAwFmKpP-P0FAzceHhUEq4NywRQdENPMqkx6fM4GRk2IA&oe=6466E27D"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <footer class="blockquote-footer">16/09/2021</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t39.30808-6/243644323_404434048052289_1110075465721364807_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeHhqo0l6nhJMaua9ONIWPIbnR4cXpFQxK-dHhxekVDEr0j6AGZnOgW9zn_BmpL44w16NdV2BmHCBzOFs3t_QN3s&_nc_ohc=v1xdLjjcZUUAX_wdlt5&_nc_oc=AQlz0pEdfl6gMHdjw5xo6aIlovtsakFdTnPQJFB5-GPQerOiNEWcGY7vGGNzrmL397M&_nc_ht=scontent.fsap8-1.fna&oh=00_AfCDcq0KkNYzuLKYWETXEfEu_GQVtyOrPVwezRr5HAzI6w&oe=64667942"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <footer class="blockquote-footer">28/09/2021</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t39.30808-6/298368963_618472409981784_8821979662266454563_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeFgreNcGRdrP3OXkgHFekSRYRNWagGQTH9hE1ZqAZBMfy19BJUVu-7__HVRSO8p0TyaAu4DRMirNZ3garA8-nYH&_nc_ohc=sJMboAK8W8YAX-HlWTO&_nc_ht=scontent.fsap8-1.fna&oh=00_AfDCOI3ragIvx1hCJPpVL80mIZ4AzqKdmM4SIHpQqKgc4w&oe=64666816"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <footer class="blockquote-footer">07/08/2022</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t39.30808-6/321908627_461009019564517_4056096589326393507_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGxxSwaszw0SsjorrOVcMtdZ16uud4eVTNnXq653h5VM-IWtJGao_0-5WvLja2xO4E6MbLRlyznGWA2C9X1WZqa&_nc_ohc=9Hz9EP3Ne78AX_uRkQA&_nc_ht=scontent.fsap8-1.fna&oh=00_AfAt1HYUIb7h1JnhJMxiLBpHni8TUHCst7OdURg4QoyEDg&oe=6467C418"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    ¡Feliz navidad! Espero la pases bien, dónde sea que estes, todos estamos conectados &#60;33
                </p>
                <footer class="blockquote-footer">24/12/2022</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t39.30808-6/269961385_464446325384394_4974275195008681270_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeE_V7qGeSD915DtKBFyGFYYBkRDHAp6mj0GREMcCnqaPWwJjUzkZ7TnTdfhWCuJAqKoQ1wh5M2sz37W8bd6J4aU&_nc_ohc=x6PXPNNET7cAX-1iDXb&_nc_ht=scontent.fsap8-1.fna&oh=00_AfAalavn8qMpUNWz29pAvzFhJJs4ESTKsxHJ75y7MW-l8A&oe=6467A405"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    Merry Christmas! <br>
                    Espero disfrutes este día, pasala bien con tus personas favoritas. Y recuerda que "Todos estamos
                    conectados". ^^
                </p>
                <footer class="blockquote-footer">24/12/2021</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/132159704_198608135301549_1207545631737822898_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGjMwAPCUdamMliBSC8FNGw2CxaUwFvWVnYLFpTAW9ZWfqhW3f7nrMqpXHQ8LvsGNCdnwrEL01dG-ZqKDFDk4RE&_nc_ohc=7RWgFa3PaKsAX8zpfbf&_nc_ht=scontent.fsap8-1.fna&oh=00_AfDHTNPCBMWebrgISwn2bi4oyeOjJhLOOCioSJnIduYFsw&oe=6487FBAA"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    Me-merry Christmas u////u
                </p>
                <footer class="blockquote-footer">24/12/2020</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t39.30808-6/338870419_197842206290890_6663273646247938854_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeFyn6oW9j3NgZxoE1e05sHOtUB1_DFSSN-1QHX8MVJI319j3I2UdM_lE4bY-Z8G_23NQ5JRAvrxAOgfnZNBSpnH&_nc_ohc=u8wQFHebc-oAX-kOuUI&_nc_ht=scontent.fsap8-1.fna&oh=00_AfCIaePqDKMS6l0fSdEwMZtU6ahmPdM-OwD-gwLucqbqEg&oe=64665B04"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <footer class="blockquote-footer">30/03/2023</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t39.30808-6/339011189_977652870065219_4274612493119191755_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeFh2pgVWpCo7tR2f6Ex1PTywbORILeKTCjBs5Egt4pMKNHQ8vku_13kiF-8mocPFt2f5uaxu-T1Jv87__cWnaAf&_nc_ohc=mk-Ha6vjZBEAX8JMFvS&_nc_ht=scontent.fsap8-1.fna&oh=00_AfBhE2RospftjaacL8NWSEiKZWPOsaGUrIcrZ4WxegCepw&oe=64663F35"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    You are doing your best.
                </p>
                <footer class="blockquote-footer">02/04/2023</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t39.30808-6/339632725_217933240921827_4937821390571454562_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeHkR8PAh8YvRMfSwIw44Pv9b1h2c0b3A4hvWHZzRvcDiEi4owzRljvnaMVRbF7yikf7yOrQBOKqHkk7mz-f9B_n&_nc_ohc=i1XsWeHy7jYAX-I6K9H&_nc_ht=scontent.fsap8-1.fna&oh=00_AfAeJH5zT6bx6CXClBPXN9i_KjISjLVUkKPBvDwNsBO-qw&oe=6467B110"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <footer class="blockquote-footer">03/04/2023</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t39.30808-6/340544017_769495207838196_1173596325779572475_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeHxfs-CeCHPc_DKq1MGaCbFharfs2KQbYWFqt-zYpBthT5DTJw4sewbS9_xr0kJ7Kow4P7F1iHHncsEckd1IEUu&_nc_ohc=89BX27G8i14AX983YRq&_nc_ht=scontent.fsap8-1.fna&oh=00_AfCybKtYQQCe_nmj7t7MFHRqBDPWd2zUSqJUw4i6sb6PWw&oe=64679514"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <footer class="blockquote-footer">10/04/2023</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t39.30808-6/341850508_930058201573578_3465118109697863381_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGB9NNXDj-ZQoOU9u9aUdbrOWz1QDJu6k05bPVAMm7qTQTE11JGYLQgJpHTC52CmNrJVWE-6Kc9PN6K1Xt2PJ7w&_nc_ohc=RK30TpbowoQAX9rUqAQ&_nc_ht=scontent.fsap8-1.fna&oh=00_AfDbJSgok88yGNqdcmO_yn5LR2tO9IgyJDEIVUw0FnlSfg&oe=6467BE14"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    552062616b61 ❤️
                </p>
                <footer class="blockquote-footer">15/04/2023</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t39.30808-6/342211916_954011642405089_8236845672908858309_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeErLADm75TfP90KbSM-mzDRX567bDfeOr1fnrtsN946vVYvaj2LGfaU5IqvVkjvPtyekIKXVZt_oKMiYrDtUoE_&_nc_ohc=zzOW13tjKN8AX-m6wjC&_nc_ht=scontent.fsap8-1.fna&oh=00_AfAyOTz1K2nZdZrYkcEUf6l7Rql_zl9YKzEs3_jeU0kfcQ&oe=6467CB98"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    Gato. ^^
                </p>
                <footer class="blockquote-footer">19/04/2023</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t39.30808-6/344001049_533343242097840_2157876109300630412_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeF47UUuRjCTOv4n8W8gyCanSKbLvdQF5EdIpsu91AXkRw3vZ05uso7sXEaeD9lDt1YHiejglhrPYqvvIwwu691p&_nc_ohc=hfFlZoQ7dsUAX-Z5v3q&_nc_ht=scontent.fsap8-1.fna&oh=00_AfDutJoR_nwvO6Hzoh6P8KRAU1Kky1_4IR3GZOfIt-3dGg&oe=64671E33"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <footer class="blockquote-footer">30/04/2023</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t39.30808-6/344404722_1179806146040618_7674022726407573900_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGoYkSvlQ8JcmUThoV18WCscgP0Rt9-09FyA_RG337T0axDt18YjClbf-C1IzvGjOGlvooV_X4qadSvvf9zzoEE&_nc_ohc=XJRFnBYeVPYAX_mEaUw&_nc_ht=scontent.fsap8-1.fna&oh=00_AfA_mPPY2ynPItafsXs-Lbbz4wXWcwBmtJlEfD4Dy9O8Jg&oe=6466C4C0"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <footer class="blockquote-footer">02/05/2023</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t39.30808-6/344595878_945801246461836_1681643298185896004_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeHeWVyIjlqkHBm7NP6GZX6ddQzy_wThYpx1DPL_BOFinImfD8N0kZJnroq4LP7eut1Ni-xyo92bbQ9V65HLcG3y&_nc_ohc=HogzPBs4fowAX9dTM2u&_nc_ht=scontent.fsap8-1.fna&oh=00_AfCHEXRb7TzLVQqEJTOWsD0pC9YfN6NJ6W8OY8h382sU-A&oe=6466FE3F"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <footer class="blockquote-footer">05/05/2023</footer>
            </div>
        </div>
    </div>
</div>