<div class="d-none d-sm-none d-md-none d-lg-block mt-4"></div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/aurora/main.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <h3 class="card-title">Aurora</h3>
                <p class="card-text">
                    Let's color all the ways.
                </p>
            </div>
        </div>
    </div>
</div> <!-- 27/09/2020 -->

<br>

<div class="d-block d-sm-block d-md-block d-lg-none mb-4">
    <div class="separator">
        <span class="symbol">✰✯✫✰✯✫</span>
        <span class="dash"></span>
        <span class="symbol">✰✯✫✰✯✫</span>
    </div>
</div>

<div class="d-none d-sm-none d-md-none d-lg-block separator-container">
    <div class="separator">
        <span class="symbol">✰✯✫✰✯✫✰✯✫✰✯✫✰</span>
        <span class="dash"></span>
        <span class="symbol">✰✯✫✰✯✫✰✯✫✰✯✫✰</span>
    </div>
</div>

<br>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/aurora/0.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    Antes de ayudar a los demás, concentrate en ti mismo.
                </p>
                <footer class="blockquote-footer">25/10/2020</footer>
            </div>
        </div>
    </div>
</div>

<br class="d-none d-sm-none d-md-none d-lg-block">

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/aurora/1.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    Un pequeño descanso puede aumentar tu productividad.
                </p>
                <footer class="blockquote-footer">09/12/2020</footer>
            </div>
        </div>
    </div>
</div>

<br class="d-none d-sm-none d-md-none d-lg-block">

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/aurora/2.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    Todo saldrá bien, no te preocupes, no eres una máquina.
                </p>
                <footer class="blockquote-footer">11/01/2023</footer>
            </div>
        </div>
    </div>
</div>

<br class="d-none d-sm-none d-md-none d-lg-block">

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/aurora/3.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <footer class="blockquote-footer">09/10/2020</footer>
            </div>
        </div>
    </div>
</div>

<br class="d-none d-sm-none d-md-none d-lg-block">

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/aurora/4.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <footer class="blockquote-footer">15/03/2021</footer>
            </div>
        </div>
    </div>
</div>

<br class="d-none d-sm-none d-md-none d-lg-block">

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/aurora/5.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <footer class="blockquote-footer">28/09/2021</footer>
            </div>
        </div>
    </div>
</div>

<br class="d-none d-sm-none d-md-none d-lg-block">

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/aurora/6.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    No te quedes en lo mismo, no esta mal refrescar tus ideas.
                </p>
                <footer class="blockquote-footer">05/03/2021</footer>
            </div>
        </div>
    </div>
</div>

<br class="d-none d-sm-none d-md-none d-lg-block">

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/aurora/7.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <footer class="blockquote-footer">20/12/2021</footer>
            </div>
        </div>
    </div>
</div>

<br class="d-none d-sm-none d-md-none d-lg-block">

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/aurora/8.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <footer class="blockquote-footer">07/08/2022</footer>
            </div>
        </div>
    </div>
</div>

<br class="d-none d-sm-none d-md-none d-lg-block">

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/aurora/9.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    ¡Feliz navidad! Espero la pases bien, dónde sea que estes, todos estamos conectados &#60;33
                </p>
                <footer class="blockquote-footer">24/12/2022</footer>
            </div>
        </div>
    </div>
</div>

<br class="d-none d-sm-none d-md-none d-lg-block">

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/aurora/10.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    Merry Christmas! <br>
                    Espero disfrutes este día, pasala bien con tus personas favoritas. Y recuerda que "Todos estamos
                    conectados". ^^
                </p>
                <footer class="blockquote-footer">24/12/2021</footer>
            </div>
        </div>
    </div>
</div>

<br class="d-none d-sm-none d-md-none d-lg-block">

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/aurora/11.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    Me-merry Christmas u////u
                </p>
                <footer class="blockquote-footer">24/12/2020</footer>
            </div>
        </div>
    </div>
</div>

<br class="d-none d-sm-none d-md-none d-lg-block">

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/aurora/12.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <footer class="blockquote-footer">30/03/2023</footer>
            </div>
        </div>
    </div>
</div>

<br class="d-none d-sm-none d-md-none d-lg-block">

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/aurora/13.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    You are doing your best.
                </p>
                <footer class="blockquote-footer">02/04/2023</footer>
            </div>
        </div>
    </div>
</div>

<br class="d-none d-sm-none d-md-none d-lg-block">

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/aurora/14.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <footer class="blockquote-footer">03/04/2023</footer>
            </div>
        </div>
    </div>
</div>

<br class="d-none d-sm-none d-md-none d-lg-block">

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/aurora/15.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    Gato. ^^
                </p>
                <footer class="blockquote-footer">19/04/2023</footer>
            </div>
        </div>
    </div>
</div>

<br class="d-none d-sm-none d-md-none d-lg-block">

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/aurora/16.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <footer class="blockquote-footer">05/05/2023</footer>
            </div>
        </div>
    </div>
</div>

<br class="d-none d-sm-none d-md-block d-lg-block">

<div class="d-flex justify-content-center mb-3">
    <app-modal-basic></app-modal-basic>
</div>