<app-layer-main-card 
    [layerName]="layerMainData.layerName"
    [layerText]="layerMainData.layerText"
    [layerImgName]="layerMainData.layerImgName"
    [imgWidth]="layerMainData.imgWidth"
    [imgHeight]="layerMainData.imgHeight"
></app-layer-main-card> <!-- 27/09/2020 -->

<app-separator separatorSymbol="✰✯✫✰✯✫" separatorColor="#E9AFA4"></app-separator>

<app-img-text-card
    [layerName]="layerMainData.layerName"
    [cardText]="layerBodyData[0].cardText"
    [imgName]="layerBodyData[0].imageName"
    [footer]="layerBodyData[0].footer"
></app-img-text-card>

@defer (on timer(500ms)) {
    <br class="d-none d-sm-none d-md-none d-lg-block">

    <app-img-text-card
        [layerName]="layerMainData.layerName"
        [cardText]="layerBodyData[1].cardText"
        [imgName]="layerBodyData[1].imageName"
        [footer]="layerBodyData[1].footer"
    ></app-img-text-card>

    <br class="d-none d-sm-none d-md-none d-lg-block">

    <app-img-text-card
        [layerName]="layerMainData.layerName"
        [cardText]="layerBodyData[2].cardText"
        [imgName]="layerBodyData[2].imageName"
        [footer]="layerBodyData[2].footer"
    ></app-img-text-card>

    <br class="d-none d-sm-none d-md-none d-lg-block">

    <app-img-card
        [layerName]="layerMainData.layerName"
        [imgName]="layerBodyData[3].imageName"
        [footer]="layerBodyData[3].footer"
    ></app-img-card>

    <br class="d-none d-sm-none d-md-none d-lg-block">

    <app-img-card
        [layerName]="layerMainData.layerName"
        [imgName]="layerBodyData[4].imageName"
        [footer]="layerBodyData[4].footer"
    ></app-img-card>

    <br class="d-none d-sm-none d-md-none d-lg-block">

    <app-img-card
        [layerName]="layerMainData.layerName"
        [imgName]="layerBodyData[5].imageName"
        [footer]="layerBodyData[5].footer"
    ></app-img-card>

    <br class="d-none d-sm-none d-md-none d-lg-block">

    <app-img-text-card
        [layerName]="layerMainData.layerName"
        [cardText]="layerBodyData[6].cardText"
        [imgName]="layerBodyData[6].imageName"
        [footer]="layerBodyData[6].footer"
    ></app-img-text-card>

    <br class="d-none d-sm-none d-md-none d-lg-block">

    <app-special-card
    [layerName]="layerMainData.layerName"
    [cardText]="'Lain Chikita App'"
    [imgName]="layerBodyData[7].imageName"
    [footer]="layerBodyData[7].footer"
><button class="btn btn-sm btn-success" onclick="window.open('https://play.google.com/store/apps/details?id=com.oreodev.lain_chikita&pcampaignid=web_share', '_blank')">Download</button></app-special-card>

    <br class="d-none d-sm-none d-md-none d-lg-block">

    <app-img-card
        [layerName]="layerMainData.layerName"
        [imgName]="layerBodyData[8].imageName"
        [footer]="layerBodyData[8].footer"
    ></app-img-card>

    <br class="d-none d-sm-none d-md-none d-lg-block">

    <app-img-text-card
        [layerName]="layerMainData.layerName"
        [cardText]="layerBodyData[9].cardText"
        [imgName]="layerBodyData[9].imageName"
        [footer]="layerBodyData[9].footer"
    ></app-img-text-card>

    <br class="d-none d-sm-none d-md-none d-lg-block">

    <app-img-text-card
        [layerName]="layerMainData.layerName"
        [cardText]="layerBodyData[10].cardText"
        [imgName]="layerBodyData[10].imageName"
        [footer]="layerBodyData[10].footer"
    ></app-img-text-card>

    <br class="d-none d-sm-none d-md-none d-lg-block">

    <app-img-text-card
        [layerName]="layerMainData.layerName"
        [cardText]="layerBodyData[11].cardText"
        [imgName]="layerBodyData[11].imageName"
        [footer]="layerBodyData[11].footer"
    ></app-img-text-card>

    <br class="d-none d-sm-none d-md-none d-lg-block">

    <app-img-card
        [layerName]="layerMainData.layerName"
        [imgName]="layerBodyData[12].imageName"
        [footer]="layerBodyData[12].footer"
    ></app-img-card>

    <br class="d-none d-sm-none d-md-none d-lg-block">

    <app-img-text-card
        [layerName]="layerMainData.layerName"
        [cardText]="layerBodyData[13].cardText"
        [imgName]="layerBodyData[13].imageName"
        [footer]="layerBodyData[13].footer"
    ></app-img-text-card>

    <br class="d-none d-sm-none d-md-none d-lg-block">

    <app-special-card
        [layerName]="layerMainData.layerName"
        [cardText]="'Lain in early 20s'"
        [imgName]="layerBodyData[14].imageName"
        [footer]="layerBodyData[14].footer"
    >
        <button 
            class="btn btn-sm btn-success" 
            onclick="window.open('https://chromewebstore.google.com/detail/gpaoobbkanaaeimicpjbghofdijmlmmk?utm_source=item-share-cb', '_blank')">
            Install theme
        </button>
    </app-special-card>

    <br class="d-none d-sm-none d-md-none d-lg-block">

    <app-img-text-card
        [layerName]="layerMainData.layerName"
        [cardText]="layerBodyData[15].cardText"
        [imgName]="layerBodyData[15].imageName"
        [footer]="layerBodyData[15].footer"
    ></app-img-text-card>

    <br class="d-none d-sm-none d-md-none d-lg-block">

    <app-special-card
        [layerName]="layerMainData.layerName"
        [cardText]="layerBodyData[17].cardText"
        [imgName]="layerBodyData[17].imageName"
        [footer]="layerBodyData[17].footer"
        (imageClick)="handleImageCatClick()"
        [isBorderChromatic]="true"
    ></app-special-card>

    <br class="d-none d-sm-none d-md-none d-lg-block">


    <app-img-card
        [layerName]="layerMainData.layerName"
        [imgName]="layerBodyData[16].imageName"
        [footer]="layerBodyData[16].footer"
    ></app-img-card>

    <br class="d-none d-sm-none d-md-block d-lg-block">


    @defer (on idle) {
        <div class="d-flex justify-content-center mb-3">
            <app-modal-basic></app-modal-basic>
        </div>
    }
}

<br class="d-none d-sm-none d-md-block d-lg-block">