@if (isDialoguing) {
    <div #novelContainer class="novel-container mt-4" (click)="advanceText()">
        <div style="background-color: rgba(0, 0, 0, 0);" class="character-image-container">
            <img src="assets/images/lain-test/personaje.png" alt="Personaje" class="character-image">
        </div>
        <div class="tex-container">
            <div class="text-box mt-4">
                <p style="user-select: none;">{{ displayedText }}</p>
            </div>
            <button class="skip-btn" (click)="skipDialogue();">
                Saltar
            </button>
        </div>
    </div>
} @else {
    @if(!this.finished && this.questionsLoaded){
        <div class="quiz-container mx-auto">
            <p class="question">{{ questions[currentQuestionIndex].question }}</p>
            @for(option of questions[currentQuestionIndex].options; track option.text){
                <div class="option-container">
                    <button class="option-button" (click)="selectOption(option);">
                        {{ option.text }}
                    </button>
                </div>
            }
        </div>
    } 
    @if(this.finished) {
        <div class="result-container">
            <p class="result-header">¡Test Finalizado!</p>
            <p class="result-text">Tu personalidad es: <span class="personality">{{ testResult }}</span></p>
            <a href="/" class="btn btn-secondary btn-sm">Inicio</a>
            <a [href]="testResultImage" download="lain-test-result-image.png" class="download-button mx-2">
                Descargar
            </a>
            <a href="/cyberia/laintest" class="btn btn-secondary btn-sm">Repetir</a>
        </div>
    
         <!-- Imagen grande de la Lain Carta que obtuvo el usuario del test -->
        <div class="image-container">
            <img [src]="testResultImage" alt="Imagen de test personalidad lain" class="result-image">
        </div>

        <!-- Barras de estadísticas -->
        <div class="mx-auto stat-bars-container" style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px;">

            <div class="stat-bar-container">
                <img src="assets/icons/heart.svg" alt="heart" class="mini-stat-bar-icon">
                <div class="stat-bar">
                    <div class="stat-fill" [style]="'width: ' + vitality + '%'"></div>
                </div>
            </div>

            <div class="stat-bar-container">
                <img src="assets/icons/sword.svg" alt="strength" class="mini-stat-bar-icon">
                <div class="stat-bar">
                    <div class="stat-fill" [style]="'width: ' + strength + '%'"></div>
                </div>
            </div>
            
            <div class="stat-bar-container">
                <img src="assets/icons/energy.svg" alt="energy" class="mini-stat-bar-icon">
                <div class="stat-bar">
                    <div class="stat-fill" [style]="'width: ' + energy + '%'"></div>
                </div>
            </div>
            
            <div class="stat-bar-container">
                <img src="assets/icons/magic.svg" alt="intelligence" class="mini-stat-bar-icon">
                <div class="stat-bar">
                    <div class="stat-fill" [style]="'width: ' + intelligence + '%'"></div>
                </div>
            </div>
        </div>

        @if(hasExtravagantPersonality) {
            <div class="extravagant-personality">
                <div>
                    <p>¡Felicidades! Tienes una personalidad única y muy difícil de medir, por lo que has desbloqueado una carta oculta</p>
                </div>
                <a class="btn btn-secondary btn-sm" (click)="applyExtravagantPersonality()">Obtener</a>
            </div>
            <br>
        }
    }
}
