.separator .dash {
    background-color: #D63384;
}

span {
    color: #D63384;
}

.card {
    background-color: rgba(0, 0, 0, 0.8);
}

.card-text {
    color: #ffa6bc;
}

.card-title {
    color: #ff648b;
}

.crypt-btn {
    color: #D63384;
    border-color: #D63384;
    background-color: #000000;
}

.crypt-btn:hover {
    background-color: #D63384;
    color: #ffffff;
}

.crypt-btn:active {
    background-color: #D63384;
    color: #ffffff;
    border-color: #D63384;
}

.crypt-btn:focus {
    background-color: #D63384;
    color: #ffffff;
    border-color: #D63384;
    box-shadow: none;
}