<div class="d-none d-sm-none d-md-none d-lg-block mt-4"></div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/119910711_135643111598052_5574346978440338345_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeFhMjtSEoehYhBQme1XCgCrECYF3Nu_o0UQJgXc27-jRTQqXnqnMElKNKMnogc_WdYUJ3slxSuE8rAmHpy6pz5_&_nc_ohc=OV2iQLhMzq0AX-fsWC3&_nc_ht=scontent.fsap8-1.fna&oh=00_AfBLZ1ZhBrVfCmL6x5J17iJsNCabf8hL8J2410TRnJkKEw&oe=6487B7C2"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <h3 class="card-title">Crypt</h3>
                <p class="card-text">
                    Creí poder ocultar mis actos, pero siempre alguien me observaba.
                </p>

            </div>
        </div>
    </div>
</div> <!-- 18/09/2020 -->

<div class="d-block d-sm-block d-md-block d-lg-none mb-4">
    <div class="separator">
        <span class="symbol">✞✞✞✞✞✞</span>
        <span class="dash"></span>
        <span class="symbol">✞✞✞✞✞✞</span>
    </div>
</div>

<div class="d-none d-sm-none d-md-none d-lg-block separator-container">
    <div class="separator">
        <span class="symbol">✞✞✞✞✞✞✞✞✞✞✞✞</span>
        <span class="dash"></span>
        <span class="symbol">✞✞✞✞✞✞✞✞✞✞✞✞</span>
    </div>
</div>

<div class="card mx-auto mt-3">
    <div class="card-body">
        <blockquote class="blockquote mb-0 card-text" style="font-size: medium;">
            <p>
                ¿Por qué estás en la red?
                ¿Buscas algo? ¿A alguien?
                ¿Te buscas a tí mismo?
                ¿Buscas tu identidad?
                ¿Buscas proyectar tu identidad en otros?
                ¿Por qué estás en la red?
                ¿Quieres ser uno contigo mismo?
                ¿Quieres ser uno con el mundo?
                ¿Quieres ser uno con Dios?
                ¿Quieres ser uno con todos?
                ¿Por qué estas en la red?
                ¿Quieres saber como encontrar el camino?
                ¿Quieres guiar a otros en su camino?
                ¿Hacer un pacto oscuro?
                ¿Por qué estas en la red?
                ¿Quieres encontrar el amor?
                ¿Encontrar amor en los otros?
                ¿Quieres encontrar la red?
                ¿Crees que es un pacto oscuro con Dios?
                ¿Por qué estás en la red?
                ¿Eres un fantasma en la red?
                ¿Eres tu la red?
            </p>
            <footer class="blockquote-footer">11/05/2023</footer>
        </blockquote>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/146796953_231608462001516_8042542241617347317_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeHXYPwM0YLvjbc-G0imMVpUc-q0mXxa9qFz6rSZfFr2ocuYk8D8QEIG-4cMoFdNWQcdCl5QoMecY3IG-iBC6PKF&_nc_ohc=pCuN9ApmNP0AX-PrgDA&_nc_ht=scontent.fsap8-1.fna&oh=00_AfA__Sz78qbc5oS_0fl1vvmnMo7gtW_0qcCaTAmFk6FOMg&oe=64894779"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    ¿En verdad quieres dejar de ser observado completamente?
                    Siempre hay alguien que te observa, donde sea que vayas.
                    Me pregunto si quieres que ese alguien desaparezca...
                </p>
                <footer class="blockquote-footer">07/02/2021</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t39.30808-6/337017632_776982566846135_3123107723886364546_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGiYrn4JukG2A3KCyl8cOOELIo85aao0t0sijzlpqjS3RJjMkDViyET4fC7UA_r5tv9Q9qq5gAs8azRNL0iEwj-&_nc_ohc=I7TfEh-jh2wAX9NhJD9&_nc_ht=scontent.fsap8-1.fna&oh=00_AfDLj--jJbiELmRLHqYnhXxlx1lJCI8AZl6T9Cl6DKpmUA&oe=64667F78"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    <code>*Wired sound*</code>
                </p>
                <footer class="blockquote-footer">26/03/2023</footer>
            </div>
        </div>
    </div>
</div>
