<div class="d-none d-sm-none d-md-none d-lg-block mt-4"></div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/connection/main.gif"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <h3 class="card-title">Connection</h3>
                <p class="card-text">
                    No existe un lugar para esconderte. Donde sea que vayas, todos están conectados.
                </p>
            </div>
        </div>
    </div>
</div> <!-- 31/08/2020 -->

<br>

<div class="d-block d-sm-block d-md-block d-lg-none mb-4">
    <div class="separator">
        <span class="symbol">⌘⌘⌘⌘⌘⌘</span>
        <span class="dash"></span>
        <span class="symbol">⌘⌘⌘⌘⌘⌘</span>
    </div>
</div>

<div class="d-none d-sm-none d-md-none d-lg-block separator-container">
    <div class="separator">
        <span class="symbol">⌘⌘⌘⌘⌘⌘⌘⌘⌘⌘⌘⌘</span>
        <span class="dash"></span>
        <span class="symbol">⌘⌘⌘⌘⌘⌘⌘⌘⌘⌘⌘⌘</span>
    </div>
</div>

<br>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/connection/0.jpg"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    La red es "vida", la red no es "irreal". Las sensaciones y cosas que experimentamos, no solo se
                    basan
                    en lo que podemos sentir físicamente; la información puede causar reacciones en nuestro estado,
                    según el tipo, y según la interpretación que le hagamos, los sentimientos estarán presentes.
                </p>
                <footer class="blockquote-footer">10/01/2021</footer>
            </div>
        </div>
    </div>
</div>

<br class="d-none d-sm-none d-md-none d-lg-block">

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/connection/1.jpg"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    Una mirada que rebosa en alegría, aunque su final material tendrá algún día
                    ¿cómo tú puedes percibir felicidad en algo que yo miro con desprecio o indiferencia?
                    Eso me hace ver que tan distintas son nuestras realidades, aún así me alegro de que siendo de mundos
                    tan diferentes podamos interactuar e intentar comprender nuestros pensamientos.
                </p>
                <footer class="blockquote-footer">05/12/2020</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="card-body">
        <blockquote class="blockquote mb-0 card-text">
            <p>
                ¿Puedes sentir la conexión? ¿Te has sentido en sincronía con alguien más?
            </p>
            <footer class="blockquote-footer">06/10/2020</footer>
        </blockquote>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="/assets/images/layers/connection/2.jpg"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    Al cuidar a los que queremos, estamos creando un legado de amor que trascenderá más allá de nuestra propia
                    existencia.
                </p>
                <footer class="blockquote-footer">24/02/2023</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="card-body">
        <blockquote class="blockquote mb-0 card-text">
            <p>
                En un universo infinito, la amistad es un vínculo que puede mantenernos conectados en la vastedad del
                tiempo y el espacio.
            </p>
            <footer class="blockquote-footer">29/03/2020</footer>
        </blockquote>
    </div>
</div>