<div class="d-none d-sm-none d-md-none d-lg-block mt-4"></div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://i.pinimg.com/originals/00/9c/d8/009cd806b365e513ca3c4e4b8e3a37d7.gif"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <h3 class="card-title">Connection</h3>
                <p class="card-text">
                    No existe un lugar para esconderte. Donde sea que vayas, todos están conectados.
                </p>
            </div>
        </div>
    </div>
</div> <!-- 31/08/2020 -->
