<div class="d-none d-sm-none d-md-none d-lg-block mt-4"></div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://i.pinimg.com/originals/00/9c/d8/009cd806b365e513ca3c4e4b8e3a37d7.gif"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <h3 class="card-title">Connection</h3>
                <p class="card-text">
                    No existe un lugar para esconderte. Donde sea que vayas, todos están conectados.
                </p>
            </div>
        </div>
    </div>
</div> <!-- 31/08/2020 -->

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/143261869_225841792578183_2522603943817284042_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeEHqsc-_YGmGe--huGQJsO8xfqpGwfPQ3jF-qkbB89DeJrbLMSu2mXlvXurahZyNxe15ZeBKUfQYV82srRx_b6n&_nc_ohc=xhIllNgYJdMAX9ioNQx&_nc_ht=scontent.fsap8-1.fna&oh=00_AfC2taQDCT4j6CX_s1bcv2aPToeMyXZIn7BlZk_O18QkZg&oe=64894033"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    La red es "vida", la red no es "irreal". Las sensaciones y cosas que experimentamos, no solo se
                    basan
                    en lo que podemos sentir físicamente; la información puede causar reacciones en nuestro estado,
                    según el tipo, y según la interpretación que le hagamos, los sentimientos estarán presentes.
                </p>
                <footer class="blockquote-footer">10/01/2021</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t1.6435-9/129603447_183694773459552_5643968150636781890_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeE3Dn2_Jm6KgTkw5VkG8gQYhEkHoy7ha7KESQejLuFrsrzQQBG9qsKGESUeOs2DGUKD3wu05mivQF9zrDlV-Ng9&_nc_ohc=QUDOsPXBKIkAX-wk4tw&_nc_ht=scontent.fsap8-1.fna&oh=00_AfBtHmy2rA9KJonH5zVu2GLlKkU7r0jCDYtaoh3G-7rV-A&oe=6489644A"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    Una mirada que rebosa en alegría, aunque su final material tendrá algún día
                    ¿cómo tú puedes percibir felicidad en algo que yo miro con desprecio o indiferencia?
                    Eso me hace ver que tan distintas son nuestras realidades, aún así me alegro de que siendo de mundos
                    tan diferentes podamos interactuar e intentar comprender nuestros pensamientos.
                </p>
                <footer class="blockquote-footer">05/12/2020</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto mt-3">
    <div class="card-body">
        <blockquote class="blockquote mb-0 card-text">
            <p>
                ¿Puedes sentir la conexión? ¿Te has sentido en sincronía con alguien más?
            </p>
            <footer class="blockquote-footer">06/10/2020</footer>
        </blockquote>
    </div>
</div>

<div class="card mx-auto">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="https://scontent.fsap8-1.fna.fbcdn.net/v/t39.30808-6/333256920_1260372504917871_8599647111351440876_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeHNzL__z8gezaA4nHBg4rBiNaawrufX_To1prCu59f9OjFzLHw6KAwXF22ug2rpAlFh_aOZdB9_nyvuYEu66fKE&_nc_ohc=hcoH8w8IWvgAX9pgh7I&_nc_ht=scontent.fsap8-1.fna&oh=00_AfAh38zmzHtQiO17jeP0pEAewLFrFoE0qKbl1gGQygfY1w&oe=64672136"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text">
                    Al cuidar a los que queremos, estamos creando un legado de amor que trascenderá nuestra propia
                    existencia.
                </p>
                <footer class="blockquote-footer">24/02/2023</footer>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto mt-3">
    <div class="card-body">
        <blockquote class="blockquote mb-0 card-text">
            <p>
                En un universo infinito, la amistad es un vínculo que puede mantenernos conectados en la vastedad del
                tiempo y el espacio.
            </p>
            <footer class="blockquote-footer">29/03/2020</footer>
        </blockquote>
    </div>
</div>