/* You can add global styles to this file, and also import other style files */
body {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI';
    background-color: #161616;
    color: #FFFFFF;
}