/* .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; 
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #f00400; 
  } */

  .btn-post {
    color: #ffffff;
    background-color: #D63384;
    border-color: #b62c71;
    border-width: 3px;
  }