<ng-template #content let-modal>
	<div class="modal-body">
		<div class="d-flex justify-content-center">
            <img src="/assets/images/campfire.gif" alt="" class="col-12 col-md-6 col-lg-5">
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <p id="typingText" class="col-12 col-md-6 col-lg-5"></p>
        </div>
	</div>
	<div class="modal-footer">
		<button type="button" ngbAutofocus  class="btn btn-outline-dark save-btn" (click)="modal.close()">Continuar</button>
	</div>
</ng-template>

<button class="btn btn-lg btn-outline-primary aurora-btn" (click)="openModal(content)">Toma un descanso</button>