.separator .dash {
    background-color: #4201ba;
}

span {
    color: #4201ba;
}

.aurora-btn {
    color: #4201ba;
    border-color: #4201ba;
}

.aurora-btn:hover {
    background-color: #4201ba;
    color: #ffffff;
}

.aurora-btn:active {
    background-color: #4201ba;
    color: #ffffff;
    border-color: #4201ba;
}

.aurora-btn:focus {
    background-color: #4201ba;
    color: #ffffff;
    border-color: #4201ba;
    box-shadow: none;
}